<header class="nav-header">
  <nav class="nav">
    <div class="left">
      LOGO
      <a routerLink="/"></a>
    </div>
    <ul>
      <li *ngFor="let item of list" class="nav-hover" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
        <!-- RouterLinkActive: 当前路由激活时当前a标签增加link-active类 -->
        <a [routerLink]="item.link">
          <span>{{ item.title }}</span>
        </a>
      </li>
    </ul>
    <div class="right">
      <div class="nav-hover">登录</div>
      <div class="nav-hover">注册</div>
      <div class="nav-hover">个人信息</div>
    </div>
  </nav>
</header>
